#order-summary{
	border: 1px solid #ddd;
	padding: 15px;
}

#order-text{
	text-align: center;
	font-size: 20px;
	font-weight: 400;
}

#order-summary li{
	list-style: none;
}

#fl{
	float: left;
	padding-left: 0;
}

#fr{
	float: right;
	text-align: right;
}